@model SimpleBlog.Areas.Admin.ViewModels.PostsIndex

@{
    ViewBag.SelectedTab = "posts";
}

<div class="container">
    <h1>Posts</h1>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a href="@Url.Action("new")" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Create Post</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Tags</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>

        </thead>
        <tbody>
            @foreach(var post in Model.Posts)
            {
                string cls = post.IsDeleted ? "danger" : "";
                
                <tr class="@cls">
                    <td>@post.Title</td>
                    <td>@post.User.Name</td>
                    <td>@String.Join(", ", post.Tags.Select(x => x.Name))</td>
                    <td>@post.CreatedAt (UTC)</td>
                    <td>
                        <a href="@Url.Action("edit", new { post.Id})" class="btn btn-xs btn-primary">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </a>

                        @if (!post.IsDeleted)
                        {
                            <div class="btn-group btn-group-xs">
                                <a href="@Url.Action("trash", new { id = post.Id })" class="btn btn-primary" data-post="Trash post (the post can be restored aftwards)?">
                                    <span class="glyphicon glyphicon-remove"></span> Trash
                                </a>

                                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span> </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("delete", new {id = post.Id})" data-post="Permanently delete post?"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a href="@Url.Action("restore", new {id = post.Id})" class="btn btn-primary" data-post="">
                                <span class="glyphicon glyphicon-plus-sign"></span> Restore
                            </a>
                        }
                    </td>
                </tr>   
            }
        </tbody>
    </table>

    <div class="btn-group">
        @if (Model.Posts.HasPreviousPage)
        {
            <a href="@Url.Action("Index", new {page = Model.Posts.PreviousPage})" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-chevron-left"> </span> Previous Page
            </a>
        }

        @if (Model.Posts.HasNextPage)
        {
            <a href="@Url.Action("Index", new {page = Model.Posts.NextPage})" class="btn btn-primary btn-sm">
                Next Page <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        }
    </div>

</div>

