@model LvlUpBlog.Areas.Admin.ViewModels.UsersIndex

@{
    ViewBag.Title = "View Users";
    ViewBag.SelectedLink = "users";
}

    <h1>Users</h1>
    
    <div class="btn-toolbar">
        <a href="@Url.Action("new")" class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> Create User</a>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@String.Join(",", user.Roles.Select(r => r.RoleName))</td>
                    <td>
                        <div class="btn-group">
                            <a href="@Url.Action("edit", new {id=@user.Id})" class="btn btn-primary btn-sm">
                                <i class="glyphicon glyphicon-pencil"></i> Edit
                            </a>
                            <a href="@Url.Action("changepassword", new {id=@user.Id})" class="btn btn-primary btn-sm">
                                <i class="glyphicon glyphicon-star"></i> Change Password
                            </a>
                            <a href="@Url.Action("delete", new {id=@user.Id})" class="btn btn-primary btn-sm" data-post="Really delete @user.Name">
                                <i class="glyphicon glyphicon-remove"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>   
            }
        </tbody>
    </table>