@using System.Web.Optimization
@using SimpleBlog.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Simple Blog</title>

    @Styles.Render("~/styles")

</head>
<body>
    <div class="site-header">
        <header class="container">
            <h1 class="page-header">
                <span class="glyphicon glyphicon-adjust"></span>
                <a href="@Url.RouteUrl("Home")">LvlUp Blog</a>
                <small>The blog that levels up.</small>
            </h1>
        </header>
    </div>
    <div class="site-nav">
        <nav class="container">
            <ul class="list-inline">
                @if (UserCache.CurrentUser == null)
                {
                    <li><a href="@Url.RouteUrl("login")">Login</a></li>
                    <li><a href="@Url.RouteUrl("login")">Sign Up</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("index", "posts", new {area = "admin"})"> My Posts</a></li>
                    if (UserCache.CurrentUser.Roles.Select(r => r.RoleName).Contains("admin"))
                    {
                        <li><a href="@Url.RouteUrl("login")">View Users</a></li>
                    }
                    <li><a href="@Url.RouteUrl("logout")">Logout</a></li>
                }

            </ul>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <br />
            <div class="col-lg-4 col-lg-push-8 sidebar">
                <!-- Get sidebar from sub-controller -->
                @Html.Action("Index", "Sidebar")
            </div>
            <div class="col-lg-8 col-lg-pull-4">
                @RenderBody()
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.UtcNow.Year - LvlUp Blog</p>
        </div>
    </footer>

    @Scripts.Render("~/scripts")
    @RenderSection("Scripts", required: false)

</body>
</html>