@using System.Web.Optimization
@using LvlUpBlog.Models

@{
    Layout = null;
}

@helper LinkSelect(string link) 
{ 
    if (link == ViewBag.SelectedLink)
    {
        @:active
    }    
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - LvlUp Blog</title>

    @Styles.Render("~/styles")
    @RenderSection("Styles", required: false)

</head>
<body>
    <div class="site-header">
        <header class="container">
            <h1 class="page-header">
                <span class="glyphicon glyphicon-adjust"></span>
                <a href="@Url.RouteUrl("Home")">LvlUp Blog</a>
                <small>The blog that levels up.</small>
            </h1>
        </header>
    </div>
    <div class="site-nav">
        <nav class="container">
            <ul class="list-inline list-padding">
                
                <li class="@LinkSelect("home")"><a href="@Url.RouteUrl("home")">Browse</a></li>

                @if (UserCache.CurrentUser == null)
                {
                    <li class="@LinkSelect("login")"><a href="@Url.RouteUrl("login")"> Login</a></li>
                    <li class="@LinkSelect("new")"><a href="@Url.Action("new", "users", new {area = "admin"})"> Sign Up</a></li>
                }
                else
                {
                    <li class="@LinkSelect("posts")"><a href="@Url.Action("index", "posts", new {area = "admin"})"> My Posts</a></li>
                    if (UserCache.CurrentUser.Roles.Select(r => r.RoleName).Contains("admin"))
                    {
                        <li class="@LinkSelect("users")"><a href="@Url.Action("index", "users", new {area = "admin"})"> View Users</a></li>
                    }
                    <li class="@LinkSelect("account")"><a href="@Url.RouteUrl("account")"> Account</a></li>
                    <li><a href="@Url.RouteUrl("logout")"> Logout</a></li>
                }

            </ul>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <br />

            @if(ViewBag.Sidebar != null)
            { 
                <div class="col-md-12">
                    @RenderBody()
                </div>
            }
            else
            {
                <div class="col-md-4 col-md-push-8 sidebar">
                    <!-- Get sidebar from sub-controller -->
                    @Html.Action("Index", "Sidebar", new { area = "" })
                </div>
                <div class="col-md-8 col-md-pull-4">
                    @RenderBody()
                </div>
            }
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.UtcNow.Year - LvlUp Blog</p>
        </div>
    </footer>

    @Scripts.Render("~/scripts")
    @RenderSection("Scripts", required: false)

</body>
</html>